<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= blog.title %></div>
    <form action="/blogs/<%= blog._id %>?_method=PUT" method="post" class="ui form">
        <div class="field">
            <label>Title</label>
            
            <textarea name="blog[title]" id="" cols="30" rows="1"   > <%= blog.title %> </textarea>
        </div>
        <div class="field">
            <label>Image</label>
            
            <textarea name="blog[image]" id="" cols="30" rows="1"   > <%= blog.image %> </textarea>
        </div>
        <div class="field">
            <label>Body of the post</label>
            <textarea name="blog[body]" id="" cols="30" rows="5"   > <%= blog.body %> </textarea>
        </div>
        <div class="field">
            <label>Author</label>
            
            <textarea name="blog[author]" id="" cols="30" rows="1"   > <%= blog.author %> </textarea>
        </div>
        
        <button class="ui big black button">Submit</button>
        
            
    </form>
</div>


<%- include("partials/footer") %>